{% extends "Maze_construct/labyrinth_template.html" %}
{% block title %}
Game&
{% load static %}
{% endblock title %}
{% block Header %}
<div>
    <p> Game! </p>
</div>
{% endblock %}
{% block content %}
<div>
    {% block Setting %}
    <div>
        <p>Your Labyrinth is here!</p>
    </div>
    <canvas id="canvas"></canvas>
</div>
<div>
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form }}
            <legend>Labyrinth Params</legend>
            <p>
                <label for="labyrinthColumns">Columns:</label>
                <input type="number" value="10" name="labyrinthColumns" id="labyrinthColumns">
            </p>
            <p>
                <label for="labyrinthRows">Rows:</label>
                <input type="number" value="10" name="labyrinthRows" id="labyrinthRows">
            </p>
            <input type="submit" value="Submit" onclick="setLParams()">
        </fieldset>
    </form>
</div>

<div>
    <input type="submit" value="Ready!" onclick="getRequest()">
    <button type="button" onclick="mazerBuild()">Clazz!</button>
</div>
<!-- <script type="module" src="/static/mazer.js"> -->
<script src="/static/test.js">

</script>


</div>
{% endblock %}
</div>
{% endblock %}
